.sidebar {
  top: 4%;
  height: 100vh;
  width: 15%;
  padding-top: 1rem;
  font-size: 120%;
  position: fixed;
}

.sidebar ul {
  margin: 0;
  padding: 0 0.7em;
}

.sidebar li {
  list-style-type: none;
}

.sidebar a {
  color: #0c3ee3;
}
